.footer{
    height: 40px;
    padding-top:20px;
    position:fixed;
    bottom:0;
    font-size:19px;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color: gray;
    
}

.divide{
    color: white;
   
}