.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0;
    font-size:1.4em;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color: gray;
    
}
.item{
    height: 40px;
    padding-top:20px;
    width: 50%;
}
.divide{
    color: white;
   
}