.header {
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: gray;
  text-align: center;
  font-weight: bold;
  height: 50px;
  justify-self: center;
  font-size: 2em;
  padding: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;

}
